*,
*::before,
*::after
{
	box-sizing: border-box ;
	font: inherit ;
	color: inherit ;
	padding: 0 ;
	margin: 0 ;
	text-align: inherit ;
}

html,
body
{
	height: 100% ;
}

html
{
	font-size: 16px ;
	text-align: left ;

	@media (min-width: 320px)
	{
		font-size: calc((100vw / 320) * 16) ;
	}

	@media (min-width:375px)
	{
		font-size: calc((100vw / 375) * 16) ;
	}

	@media (min-width:768px)
	{
		font-size: calc((100vw / 768) * 16) ;
	}

	@media (min-width:1024px)
	{
		font-size: calc((100vw / 1024) * 16) ;
	}

	@media (min-width:1440px)
	{
		font-size: calc((100vw / 1440) * 16) ;
	}

	@media (min-width:1920px)
	{
		font-size: calc((100vw / 1920) * 16) ;
	}

	@media (min-width: 2560px)
	{
		font-size: 24px ;
	}
}

body
{
	background: #fff ;
	color: #000 ;
	font-size: calc(1rem) ;
	padding: 1em ;
	display: flex ;
	flex-direction: column ;

	@media (prefers-color-scheme: dark)
	{
		background: #000 ;
		color: #fff ;
	}
}

.monospace
{
	font-family: system-monospace ;
}

h1
{
	font-size: calc(((3rem - 1.5rem) / 6) * 6) ;
}

h2
{
	font-size: calc(((3rem - 1.5rem) / 6) * 5) ;
}

h3
{
	font-size: calc(((3rem - 1.5rem) / 6) * 4) ;
}

h4
{
	font-size: calc(((3rem - 1.5rem) / 6) * 3) ;
}

h5
{
	font-size: calc(((3rem - 1.5rem) / 6) * 2) ;
}

h6
{
	font-size: calc(((3rem - 1.5rem) / 6) * 1) ;
}

header,
.view > dl,
.view > ol
{
	z-index: 2 ;
}

header
{
	padding-bottom: 1rem ;

	a
	{
		text-decoration: none ;
	}

	.disabled,
	:disabled
	{
		visibility: hidden ;
	}
}

main
{
	flex-grow: 1 ;
	justify-content: flex-start ;
	align-content: flex-start ;
}

audio
{
	width: calc(100% - 2rem) ;
	position: fixed ;
	bottom: 1rem ;
	left: 1rem ;
	right: 1rem ;
	z-index: 3 ;
}

button
{
	background: none ;
	border: none ;
	cursor: pointer ;

	&:disabled
	{
		cursor: not-allowed ;
	}
}

table
{
	border-collapse: collapse ;

	th,
	td
	{
		padding: .5rem ;
	}

	th
	{
		font-weight: bolder ;
	}
}

.view,
.settings
{
	button
	{
		background: #000 ;
		color: #fff ;
		border: none ;
		padding: .5rem ;

		@media (prefers-color-scheme: dark)
		{
			background: #fff ;
			color: #000;
		}
	}
}

.app-info
{
	.albums .entry
	{
		overflow: hidden ;
		transform: none ;
		transition: none ;

		&.active,
		&:hover,
		&:focus,
		&:focus-within
		{
			progress
			{
				opacity: .5 ;
			}

			div
			{
				opacity: 1 ;
				transform: translateX(0) ;
			}
		}

		progress
		{
			position: absolute ;
			top: 0 ;
			left: 0 ;
			right: 0 ;
			opacity: 0 ;
			appearance: none ;
			-webkit-appearance: none ;
			display: block ;
			width: 100% ;
			height: 50% ;
			z-index: 1 ;
			transition: opacity .5s ease-in-out ;

			&.for-app
			{
				&[value="1"]
				{
					~ picture
					{
						filter: grayscale(0) ;
					}
				}

				~ picture
				{
					filter: grayscale(1) ;
					transition: filter .5s ease-in-out ;
				}
			}

			+ progress
			{
				top: 50% ;
			}
		}

		div
		{
			position: absolute ;
			z-index: 3 ;
			font-size: 1.5rem ;
			top: 0 ;
			right: 0 ;
			opacity: 0 ;
			transform: translateX(100%) ;
			transition: opacity .5s ease-in-out, transform .5s ease-in-out ;
		}
	}
}

.albums
{
	display: grid;
	grid-template-columns: repeat(auto-fit, 16rem) ;
	grid-column-gap: .1rem ;
	grid-row-gap: .1rem ;
	justify-content: center ;

	@media (min-width: 768px)
	{
		justify-content: left ;
	}

	.entry
	{
		display: block ;
		position: relative ;
		transform: scale(.9) ;
		transition: transform .1s ease-in-out ;
		width: 16rem ;
		height: 16rem ;

		&:hover,
		&:focus,
		&:focus-within
		{
			transform: scale(1) ;
		}

		&::after
		{
			content: attr(data-name);
			position: absolute;
			z-index: 2 ;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 1rem;
			background: rgba(255, 255, 255, .8);
			color: #000;

			@media (prefers-color-scheme: dark)
			{
				background: rgba(0, 0, 0, .8);
				color: #fff ;
			}
		}

		> picture
		{
			display: block ;
			width: 100% ;
		}

		img
		{
			display: block ;
			width: 100% ;
			height: auto ;
		}
	}
}

.view
{
	display: flex ;
	padding-bottom: 6rem ;
	flex-direction: column ;

	@media (min-width: 768px)
	{
		flex-direction: row ;
	}

	> .covers,
	> .discs
	{
		flex: 1 1 ;
		position: relative ;
	}

	ol
	{
		list-style: inside none ;

		:not(:first-child)
		{
			margin-top: 1rem ;
		}
	}

	.covers
	{
		display: flex;
		flex-direction: row;
		overflow: auto;
		scroll-snap-type: x mandatory;
		height: calc(100vh - 10rem) ;

		> li
		{
			flex-shrink: 0 ;
			width: 100% ;
			scroll-snap-align: center ;
			display: flex ;
			justify-content: center ;
			align-items: center ;
		}

		picture
		{
			width: 60% ;
			display: block ;

			> img
			{
				display: block ;
				width: 100% ;
				height: auto ;
			}
		}
	}

	.discs,
	.tracks
	{
		padding: .5rem ;
	}

	.discs dt,
	.tracks li
	{
		padding: .25rem ;
		background: rgba(255, 255, 255, .5) ;
		color: #000 ;

		@media (prefers-color-scheme: dark)
		{
			background: rgba(0, 0, 0, .5) ;
			color: #fff ;
		}
	}

	.discs
	{
		dd + dt
		{
			margin-top: 1rem ;
		}
	}

	.tracks
	{
		button
		{
			margin-right: 1rem ;
		}
	}

	.bg
	{
		position: fixed ;
		top: 0 ;
		left: 0 ;
		right: 0 ;
		bottom: 0 ;
		display: block ;
		width: 100% ;
		height: 100% ;
		z-index: 1 ;

		> img
		{
			display: block ;
			width: 100% ;
			height: 100% ;
			object-fit: cover ;
		}
	}
}
